<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="nav">
  <div class="nav-left">
    <a class="active">Link 1</a>
    <a>Link 2</a>
  </div>
  <div class="nav-center">
    <a class="brand">
      Cookie's doodles!
      <!-- <img src="logo.svg" alt="" /> -->
    </a>
  </div>
  <div class="nav-right">
    <a>Link 3</a>
    <a>Link 4</a>
  </div>
</nav>

<div class="row">
  <div class="col-3">
    <div class="card">
      <header>
        <h4>My first doodle</h4>
      </header>
      <img src="../assets/images/01.jpg" alt="" />
      <footer class="is-right">
        <p>
          This is my first doodle. Here is something interesting about this.
          Nothing. Haha
        </p>
      </footer>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <header>
        <h4>Another doodle</h4>
      </header>
      <img src="../assets/images/02.jpg" alt="" />
      <footer class="is-right">
        <p>Here is another doodle I stole from the internet</p>
      </footer>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <header>
        <h4>Doodle number tree</h4>
      </header>
      <img src="../assets/images/03.jpg" alt="" />
      <footer class="is-right">
        <p>This is the third doodle...</p>
      </footer>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <header>
        <h4>Go forth and doodle</h4>
      </header>
      <img src="../assets/images/04.jpg" alt="" />
      <footer class="is-right">Yup, you guessed it.</footer>
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
