<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="nav">
  <div class="nav-left">
    <a class="active">Link 1</a>
    <a>Link 2</a>
  </div>
  <div class="nav-center">
    <a class="brand">
      Cookie's doodles!
      <!-- <img src="logo.svg" alt="" /> -->
    </a>
  </div>
  <div class="nav-right">
    <a>Link 3</a>
    <a>Link 4</a>
  </div>
</nav>

<div class="row">
  <div class="col-3" *ngFor="let drawing of imagesInfo">
    <div class="card">
      <header>
        <h4>{{drawing.title}}</h4>
      </header>
      <img [src]="'../assets/images/' + drawing.fileName" alt="" />
      <footer class="is-right">
        <p>
          {{drawing.description}}
        </p>
      </footer>
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
